*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: #eeeeee;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
}

header.scrolled {
  background-color: rgb(41, 41, 41);
}

#nav{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: right;
}

header #nav a{
  transition: color 0.5s ease-in-out;
}

header.scrolled #nav a{
  color: #fff;
}

header #nav.active a{
  color: #ff0000;
}

#logo{
  margin-left: 10px;
}

#logo img{
  width: 50px;
  height: auto;
}

#nav ul{
  display: flex;
  list-style: none;
}

#nav li a{
  margin: 0 15px;
  text-decoration: none;
  color: #1d1d1d;
}

main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainText{
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  text-align: center;
}

#mainText button{
  margin-top: 20px;
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

#mainText button:hover{
  box-shadow: #1d1d1d 0px 5px 10px 0px;
}

#DownloadDesktopBTN{
  background-color: #1d1d1d;
  margin-right: 5px;
}

#HowItWorksBTN{
  background-color: #54CEE3;
  margin-left: 5px;
}

#about{
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #1d1d1d;
}

.aboutText{
  font-size: 20px;
  color: #fff;
  width: 750px;
}
.aboutText h2{
  margin: 20px;
}

.aboutText p{
  margin: 20px;
}

#WhyLambLink{
  margin: 75px;
}

#WhyLambLink p{
  text-align: left;
}

#register{
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: right;
}

#registerIMG{
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 50px;
}

#registerIMG img{
  width: 40vw;
  height: auto;
  max-width: 80vh;
}

#registerForm{
  width: 40vw;
  height: 100vh;
  background: #eeeeee;
  color: #1d1d1d;
  margin-right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#registerFormPlacement{
  width: 100%;
}

#registerForm h1{
  text-align: center;
  font-size: 40px;
}

#registerForm label{
  margin-left: 10px;
}
#registerForm form{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 75px 5vw;
}

#registerForm form input{
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  margin-bottom: 20px;
}

#registerForm form input:focus{
  box-shadow: #1d1d1d 0px 5px 10px 0px;
}

#registerForm form a{
  text-align: center;
  margin-top: 20px;
  color: #1d1d1d;
  text-decoration: none;

}

#registerSubmit{
  box-shadow:  10px 10px 20px #cacaca
}

#registerSubmit:hover{
  box-shadow:  8px 8px 20px #cacaca,
           -8px -8px 20px #ffffff;
  cursor: pointer;
  color: #000000;
}

#FAQ{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  flex-direction: column;
  margin-top: 100px;
}

#FAQ h1{
  font-size: 75px;
  color: #1d1d1d;
}

.FAQtab{
  width: 100%;
  display: flex;
  margin-top: 50px;
  border: #000000 1px solid;
  width: 50vw;
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
}

.FAQflex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  cursor: pointer;
}

.content {
  margin-top: 20px;
  transition: 0.5s ease-out;
}

#tutorials{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#noPage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#noPageImg{
  height: auto;
  width: 30vh;
  max-width: 80vh;
}
